:root {
    --primary-color: darkslategray;
    --secondary-color: #C19A6B;
    --light-color: whitesmoke;
    --accent-color: #FFD700;
}

* {
    scroll-behavior: smooth !important;
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--light-color);
    color: var(--primary-color);
}

h1 {
    margin: 0 0 3% 0;
    font-size: 2.5em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    background-color: var(--primary-color);
    color: var(--light-color);
}

section.light {
    background-color: var(--light-color);
    color: var(--primary-color);
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    font-size: larger;
    z-index: 1000;
    transition: background-color 0.4s, padding 0.4s;
}

.nav-bar.dark {
    color: var(--light-color);
    padding: 40px 0;
}

.nav-bar.light {
    color: var(--primary-color);
    background-color: var(--light-color);
    border-bottom: 1px solid var(--primary-color);
    padding: 25px 0;
}

.nav-bar-content-container {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-column-gap: 25px;
    width: 60%;
    margin-left: 20%;
}

.nav-bar-content {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-bar-content:hover {
    color: var(--secondary-color);
}

.cover {
    height: 100vh;
    background-image: url('assets/mountain-lake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.cover-title {
    color: var(--light-color);
    margin-bottom: 20px;
    z-index: 1000;
}

h1.cover-title {
    font-size: 2.5em;
}

div.cover-title {
    font-size: 1.5em;
}

.intro-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 10%;
    align-items: center;
    justify-items: center;
    width: 75%;
    height: 60%;
    font-size: large;
}

.intro-image {
    height: 200px;
    width: 200px;
    background-color: var(--secondary-color);
    margin: auto;
    border-radius: 50%;
}

.intro-paragraph {
    padding: 10px 0;
}

.intro-graph-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    width: 100%;
    font-size: x-large;
}

.intro-graph-subject {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    height: 100%;
}

.intro-graph-subject-label {
    padding: 10px 0;
}

.intro-graph-bar {
    width: 50px;
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    color: transparent;
    transition: height 1.25s ease, color 0.5s ease;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-graph-bar:hover {
    color: var(--light-color);
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 20px;
    width: 80%;
}

.project-cell {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--light-color);
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    transition: box-shadow 0.3s;
    height: 400px;
}

.project-cell:hover {
    box-shadow: 5px 5px 5px #888888;
}

.project-cell:hover .project-cell-title {
    padding: 4% 0;
}

.live-stg {
    background-image: url('assets/projects/lsg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.neural-network {
    background-image: url('assets/projects/nueral-network.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.stat-tracker {
    background-image: url('assets/projects/stat-tracker.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.rent-plus {
    background-image: url('assets/projects/ensemble-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ensemble {
    background-image: url('assets/projects/ensemble-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hcp {
    background-image: url('assets/projects/hcp-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.rails-rest-api {
    background-image: url('assets/projects/rails-rest-api-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.devtec-ai {
    background-image: url('assets/projects/devtec-ai-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.project-cell-title {
    background-color: black;
    opacity: 70%;
    color: white;
    width: 100%;
    margin-bottom: 5%;
    padding: 2% 0;
    text-align: center;
    transition: padding 0.5s;
}

.talent-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 4rem;
    width: 60%;
    height: auto;
    justify-items: center;
    align-items: center;
}

.talent-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.talent-item img {
    width: 72px;
    height: 72px;
    margin-bottom: 10px;
}

.talent-item span {
    font-size: 1em;
    color: var(--primary-color);
    font-weight: bold;
}

.contact {
    color: var(--light-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--light-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 60%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 10px;
}

.modal-content button:hover {
    background-color: var(--secondary-color);
}

.modal-content button.secondary {
    background-color: transparent;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

.modal-content button.secondary:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.modal-banner {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
