* {
    scroll-behavior: smooth !important;
}

body {
    margin: unset;
}

h1 {
    margin: 0 0 3% 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: darkslategray;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
    font-size: larger;
    z-index: 1000;
}

.nav-bar.dark {
    transition: .4s;
    color: white;
    padding: 40px 0;
}

.nav-bar.light {
    transition: .4s;
    color: darkslategray;
    background-color: whitesmoke;
    opacity: 1;
    border-bottom: 1px solid darkslategray;
    padding: 25px 0;
}

.nav-bar-content-container {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    grid-column-gap: 25px;
    width: 60%;
    margin-left: 20%;
}

.nav-bar-content {
    color: inherit;
    text-decoration: none;
}

.cover {
    height: 100vh;
    background-image: url('assets/mountain-lake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    z-index: 1;
}

.cover-title {
    color: white;
    margin-bottom: 20px;
    z-index: 1000;
}

h1.cover-title {
    font-size: 2em;
}

div.cover-title {
    font-size: 1.5em;
}

.intro {
    background-color: whitesmoke;
}

.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    width: 60%;
}

.projects {
    color: white;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    width: 60%;
    height: 40%;
}

.project-cell {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.project-cell:hover {
    transition: .3s;
    box-shadow: 5px 5px 5px #888888;
}

.project-cell:hover .project-cell-title {
    transition: .5s;
    padding: 4% 0;
}

.live-stg {
    background-image: url('assets/lsg-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.neural-network {
    background-image: url('assets/nueral-network.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.stat-tracker {
    background-image: url('assets/stat-tracker.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.project-cell-title {
    transition: .5s;
    background-color: black;
    opacity: 70%;
    color: white;
    width: 100%;
    margin-bottom: 5%;
    padding: 2% 0;
    text-align: center;
}

.talent {
    background-color: whitesmoke;
}

.talent-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    width: 60%;
    height: 40%;
}

.contact {
    color: white;
}