body {
    margin: unset;
}

h1 {
    margin: 0 0 3% 0;
}

.nav-bar {
    background-color: black;
    opacity: .5;
    width: 100%;
    color: white;
    padding: 1%;
    position: fixed;
    top: 0;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: dimgray;
}

.cover {
    height: 100vh;
    background-image: url('assets/mountain-lake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-title {
    color: white;
}

.intro {
    background-color: whitesmoke;
}

.intro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
    width: 60%;
}

.projects {
    color: white;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    width: 60%;
    height: 40%;
}

.project-cell {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: whitesmoke;
}

.project-cell-title {
    background-color: darkslategray;
    opacity: 70%;
    color: white;
    width: 100%;
    margin-bottom: 5%;
    padding: 2% 0;
    text-align: center;
}

.talent {
    background-color: whitesmoke;
}